<div id="header">
	<div class="row-1">
		<div class="fleft"><a href="/IAWP4">Cinema <span>World</span></a></div>
		<ul>
			<li><a href="/IAWP4/inicio"><img src="css/images/icon1-act.gif" alt="" /></a></li>
			<li><a href="/IAWP4/contacto"><img src="css/images/icon2.gif" alt="" /></a></li>
			<li><a href="/IAWP4/facebook"><img src="css/images/icon4.gif" alt="" /></a></li>
		</ul>
	</div>
	<div class="row-2">
		<ul>
			<li><a href="/IAWP4/movies">Peliculas</a></li>
			<li><a href="/IAWP4/genres">Generos</a></li>
			<li ><a href="/IAWP4/actors">Actores</a></li>
			<li ><a href="/IAWP4/directors">Directores</a></li>
			<li class="last"><a href="/IAWP4/contacto">Contacto</a></li>
		</ul>
	</div>
</div>